<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Travellers">
    <test name="Search Hotel Test" parallel="methods" thread-count="2">
        <classes>
            <class name="com.ryanair.tests.SearchHotelTest"></class>
            <class name="com.ryanair.tests.SignUpTest"></class>
        </classes>
    </test>
</suite>